/* navbar */
#navItemss{
    color:#fff;
    font-size:1vw;
    text-decoration: none;
    text-transform: capitalize;
  }

  #navItemss:hover{
    color: #1ab3ca;
  }



/* landing page */
  .slideshow2 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .slide2 {
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    /* background-color:rgb(222, 215, 215); */
    color: #021a1e25;
  }
  
  .slide2.active2 {
    left: 0;
    opacity: 1;
    z-index: 10;
  }

/* topAdopted image */
  #homeImage{
    border-radius:20px;
    object-fit:cover;
    margin-left:20px;
  }

  #homeImage:hover{
    border-radius: 100px 10px 100px 10px;
    transition: linear 0.5s;
    transform: scale(0.5s);
  }


  #homeImage2{
    height:40vh;
    padding:10px;
    border-radius:30px;
  }

  #homeImage2:hover{
    /* border-radius:50%; */
    transition: linear 0.5s;
    transform: scale(1.1);
  }




  
  .card{
    transition:transform 0.2s;
  }
  
  .card:hover{
    transform: scale(1.1);
  }
  


/* review page  */
  #ReviewCard::-webkit-scrollbar{
    display: none;
  }





